// colour ----------------------------------------------------------------------

$colour-dark: hsl(0, 0%, 30%);
$colour-light: #a3a3a3;
$colour-lighter: #efefef;
$colour-primary: rgb(215, 50, 45);
$colour-background: rgb(235, 226, 224);


// fonts -----------------------------------------------------------------------

@font-face {
  font-family: "Open Sans";
  src: url(/static/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(/static/fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(/static/fonts/Roboto-Regular.ttf) format("truetype");
}