/**
 * variables.scss
 * defines sass variables which are accessible from the <style> section of all
 * of the application's vue single file components
 */

// Colour ----------------------------------------------------------------------

$colour-primary: hsl(2, 67%, 50%);
$colour-background: white;
$colour-lighter:hsl(42, 4%, 95%);
$colour-light: hsl(42, 4%, 85%);
$colour-medium: hsl(42, 4%, 70%);
$colour-dark: hsl(42, 4%, 35%);
$colour-darker: hsl(42, 4%, 20%);


// Fonts -----------------------------------------------------------------------

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}
